# Build output
build/
target/

# Gradle
.gradle/
.gradletasknamecache

# IntelliJ
.idea/
*.iml

# Eclipse
*.project
*.classpath
*.prefs
*.factorypath
.apt_generated/
.externalToolBuilders/

# Netbeans
.nb-gradle/

# Misc
bin/
gen/
logs/
libraries_runtime/
libraries_shade/
build_libraries/
